main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100vw;
    height: 100vh;

    background-color: rgb(red, green, blue);
}

main header {
    display: flex;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;

    background-color: rgb(15, 15, 15);
    color: white;

    width: 100vw;
    height: 10vh;
}

main section {
    display: flex;
    position: absolute;
    left: 0;
    z-index: -1;
    flex-direction: column;
    align-items: flex-end;
    width: 25vw;
    height: 100vh;

    background-color: aqua;
    color: black;
}